
.App {
  margin: 0 auto;
  margin-top: 2em;
  width: 800px;
}

.specialist-input {
  width: 350px;
  margin: 0 auto;
  float: left;
  position: fixed; 
  margin-top: 1em;
}

.specialist-list {
  width: 440px;
  margin: 0 auto;
  float: right;
  padding-bottom: 3em;
}

